# this is a PyTorch prototype
torch

pytorch_lightning  # training framework
tensorboard  # monitoring training processing

six  # checking python version
psycopg2 >= 2.8.6  # pgsql_connector

# config_parser
yacs >= 0.1.8